#form2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#submitIndex{
    display: flex;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}